.App {
  margin: 2rem auto;
  text-align: center;
  font-weight: bold;
}

.dark,
.dark .App {
  background-color: rgb(237, 203, 159);
  transition: all 0.2s ease;
}

.TetrisHeader{
  color: #cf7363;
  margin: auto;
}

.Cell{
  /*backGround: #fff;*/
  border: 1px solid #000;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  height: 32px;
  width: 32px;
}

.newGame{
  block-size: 2em;
  transition: all 0.2s ease;
}

.Board {
  display: grid;
  border: solid;
  margin: 1.7rem auto;
}

.dark-mode-toggle {
  width: 80px;
  height: 36px;
  border-radius: 50px;
  top: 0;
  left: 0;
}

.dark-mode-slider {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #2e3440;
  display: flex;
  position: relative;
  transform: translateX(0px);
  transition: all 0.2s ease;
}

.dark .dark-mode-slider {
  transform: translateX(45px);
}