.App {
  margin: 1rem auto;
  font-weight: bold;
  /* background-image: linear-gradient(to right, #DECBA4, #3E5151); */
}

.dark,
.dark .App {
  background-color: #decba4;
  transition: all 0.2s ease;
}

.TetrisHeader{
  /* color: #cf7363; */
  margin: 2vw 3vw 1vw;
  padding: 0.6rem;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Aclonica';
  font-weight: normal;
  background: linear-gradient(to bottom right, #d47153 50%, #CF8276 43%);
}

.Tetris-body
{
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.NavigationBar{
  width: 30vw;
}

.BoardSize{
  display: flex;
  margin: 1em;
  height: 1.8em;
}

.Level{
  display: flex;
  margin: 1em;
}

.DarkModeButton{
  margin: auto;
}

.dark-mode-toggle {
  height: 2em;
  border-radius: 20%;
}

.NewGame{
  /* transition: all 0.2s ease; */
  text-align: center;
}

.NewGameButton{
  margin: 0.7em;
  border-radius: 20%;
  width: 10em;
  height: 3em;
  color: green;
}

.handlePause{
  text-align: center;
}

.HandlePauseButton{
  margin: 0.5em;
  border-radius: 20%;
  width: 10em;
  height: 4.2em;
  color: rgb(58, 113, 185);
}

/* .Game{
  margin: auto; 
} */

.GameStatus{
  text-align: center;
  font-size: 1.5em;
  font-family: cursive;
  margin: 0.5rem auto;
}

.Score{
  font-size: 1.2em;
  color:#91461d;
  margin: 0.5rem 0 1em;
}

.Cell{
  /*backGround: #fff;*/
  border: 1px solid #000;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  height: 32px;
  width: 32px;
  box-sizing: content-box;
}

.Cell::after{
  box-sizing: content-box;
}

.Board {
  display: grid;
  margin:  auto;
  border: solid; 
  text-align: center;
  box-sizing: content-box;
}

.dark-mode-slider {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #2e3440;
  display: flex;
  position: relative;
  transform: translateX(0px);
  transition: all 0.2s ease;
}

.dark .dark-mode-slider {
  transform: translateX(45px);
}